.insta-media-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
}
.insta-media-list__item {
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 15px;

    @media (min-width: 1200px) {
        width: 33.33%;
    }
}