.footer {
    background: #F6F6F8;
    padding: 50px 0 0;

    @media (min-width: 992px) {
        padding: 70px 0 0;
    }
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    border-bottom: 1px solid #E0E0E0;

    .footer-info {
        @media (min-width: 992px) {
            flex: auto 1 1;
        }

        @media (min-width: 576px) {
            flex: 50% 1 0;
        }
    }

    .footer-info:not(:last-child) {
        margin-bottom: 30px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }

    @media (min-width: 992px) {
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-bottom: 70px;
    }

    @media (min-width: 576px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.footer__title {
    margin-bottom: 30px;
}

.footer-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer-list__item {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        margin-right: 15px;
    }

    a {
        font-size: 0.975rem;
        line-height: 1.5;
        text-decoration: none;
        color: $grey;
        transition: color .3s ease-in;

        &:focus,
        &:hover {
            color: #b3b3b3;
            text-decoration: underline;
        }

        &:active {
            color: #818181;
        }

        @media (min-width: 992px) {
            font-size: 0.875rem;
        }
    }

    span {
        font-size: 0.975rem;
        line-height: 1.5;
        text-decoration: none;
        color: $grey;

        @media (min-width: 992px) {
            font-size: 0.875rem;
        }
    }
}

.footer-copyright {
    padding: 30px 0;

    p {
        font-size: 0.9125rem;
        line-height: 1.5;
        text-align: center;
        color: $grey;

        @media (min-width: 992px) {
            font-size: 0.8125rem;
        }
    }
}