.video {
    position: relative;
    padding: 60px 0 0;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 570px;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/images/background.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    @media (min-width: 992px) {
        padding: 70px 0 0;
    }
}

.video-head {
    margin-bottom: 70px;
    text-align: center;
}

.video__title {
    margin-bottom: 25px;
    color: $white;
}

.video__subtitle {
    color: $white;
}

.video-player {
    position: relative;
    max-width: 970px;
    height: 350px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../img/images/poster.jpg");
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);

    @media (min-width: 992px) {
        height: 430px;
    }

    @media (min-width: 480px) {
        height: 390px;
    }
}

.video-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 55px;
    border-bottom: 1px solid #E0E0E0;

    @media (min-width: 992px) {
        padding-bottom: 85px;
    }
}

.video__button-play {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 80px;
    border: 1px solid #FFFFFF;
    border-radius: 200px;
    background-color: transparent;
    font-weight: $medium;
    color: #fff;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    img {
        width: 45px;
        margin-right: 20px;

        @media (min-width: 992px) {
            width: auto;
        }
    }

    @media (min-width: 992px) {
        width: 300px;
        height: 100px;
    }
}