.notification {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transform: translateY(120%);
    transition: transform .5s ease-in 0s;
    z-index: 10;
}

.notification__button {
    border: none;
    outline: none;
    margin-top: 15px;
    align-self: flex-end;

    span {
        padding: 8px 0;
    }

    &::before {
        padding: 8px 0;
    }
}

.show {
    transform: translateY(0%);
}