$linkHover: #1345e6;
$linkActive: #113dcf;

.blog-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 280px;
    background-color: $white;
    overflow-y: scroll;
    transform: translateX(-150%);
    transition: transform .5s ease-in-out 0s;
    z-index: 10;

    @media (min-width: 992px) {
        position: static;
        max-width: initial;
        background-color: transparent;
        overflow-y: visible;
        transform: none;
    }
}

.blog-sidebar--active {
    transform: translateX(0%);
}

.blog-sidebar-widget {
    background-color: #fbf9ff;
    padding: 25px 20px;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 1200px) {
        padding: 30px;
    }
}

.blog-sidebar__form-group {
    display: flex;
}

.blog-sidebar__form-input {
    display: block;
    flex: 1 1 auto;
    width: 100%;
    height: 50px;
    border: 1px solid #f0e9ff;
    font-size: .8125rem;
    line-height: 1.5;
    color: $grey;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0;
    outline: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.blog-sidebar__form-button {
    background-color: $white;
    border: 1px solid #f0e9ff;
    border-left: 0;
    padding: 4px 15px;
    margin-left: -1px;
    font-size: .875rem;
    color: $grey;
    outline: none;
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    &:focus,
    &:hover {
        background-color: #f0e9ff;
    }

    &:active {
        background-color: #e7dcff;
    }
}

.blog-sidebar__button-search {
    width: 100%;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 0;
    font-size: .875rem;

    &::before {
        padding: 17px 0;
    }

    span {
        padding: 17px 0;
    }
}

.blog-sidebar__widget-title {
    font-size: 1.25rem;
    font-weight: $bold;
    line-height: 1.2;
    margin-bottom: 30px;

    &::after {
        content: "";
        display: block;
        padding-top: 15px;
        border-bottom: 1px solid #f0e9ff;
    }

    @media (min-width: 1200px) {
        margin-bottom: 40px;
    }
}

.blog-sidebar__category-list {

    li {
        border-bottom: 1px solid #f0e9ff;
        padding-bottom: 12px;

        &:last-child {
            border-bottom: 0;
        }

        &+li {
            padding-top: 15px;
        }

        a {
            display: flex;
            text-decoration: none;

            p {
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }
            }
            
            &:hover p {
                transition: all .3s ease-in-out;
                color: $linkHover;
            }

            &:active p {
                transition: all .3s ease-in-out;
                color: $linkActive;
            }
        }
    }
}