$backgroundDate: #1555d4;
$linkHover: #1345e6;
$linkActive: #113dcf;

.blog-post {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}

.blog-post__img {
    position: relative;
}

.blog-post__date {
    position: absolute;
    bottom: -25px;
    left: 20px;
    padding: 10px 25px;
    display: block;
    color: $white;
    background: $backgroundDate;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;

    span {
        display: block;
        font-size: 1.575rem;
        font-weight: 600;
        color: $white;
        line-height: 1.2;

        @media (min-width: 480px) {
            font-size: 1.875rem;
        }
    }

    p {
        font-size: 1.125rem;
        color: $white;
    }

    @media (min-width: 480px) {
        padding: 13px 30px;
        left: 40px;
        bottom: -20px;
    }
}

.blog-post__details {
    padding: 50px 20px 25px 20px;
    box-shadow: 0 10px 20px 0 rgba(221, 221, 221, .3);

    a {
        display: inline-block;
        text-decoration: none;
        color: #05364d;
        transition: color .3s ease-in-out;

        &:focus,
        &:hover {
            color: $linkHover;
        }

        &:active {
            color: $linkActive;
        }
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
        font-weight: 600;
    }

    p {
        margin-bottom: 30px;
    }

    @media (min-width: 768px) {
        padding: 60px 30px 35px 35px;
    }
}

.blog-post__details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: 480px) {
        flex-direction: row;
        align-items: center;
    }
}

.blog-post__info-date {
    font-size: .875rem;
    color: $grey;
    margin-top: 5px;

    @media (min-width: 480px) {
        margin-top: 0;
    }
}

.blog-post__info-link {

    li {
        display: inline-block;
        font-size: .875rem;

        &:last-child {
            &::after {
                content: "";
                padding: 0;
            }
        }

        &::after {
            content: "|";
            padding: 0 5px;

            @media (min-width: 480px) {
                padding: 0 10px;
            }
        }

        a {
            transition: all .3s ease-in-out;
            color: $grey;

            &:focus,
            &:hover {
                color: $linkHover;
            }

            &:active {
                color: $linkActive;
            }
        }
    }
}