*, 
::after,
::before {
    box-sizing: border-box;
}

:root {
    font-size: $baseFontSize;
}

body {
    font-family: $baseFont;
    font-weight: $regular;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: .5rem;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title-2 {
    font-weight: $bold;
    font-size: 2.25rem;
    line-height: 1.5;
    color: $dark;
}

.title-3 {
    font-size: 1.75rem;
    font-weight: $medium;
    line-height: 1.2;
    color: $dark;
}

.title-5 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: $semiBold;
    color: $black;
}

.link {
    font-weight: $medium;
    line-height: 1.25;
    color: $accent;
    transition: color .2s ease-in;

    &:focus,
    &:hover {
        color: $accent + 15%;
    }

    &:active {
        color: $accent - 15%;
    }
}

.text-black {
    color: $black;
}

p {
    margin: 0;
    font-weight: $regular;
    font-size: 16px;
    line-height: 1.5;
    color: $grey;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.position-sticky-top {
    position: sticky;
    top: 7em;
}