* {
    box-sizing: border-box;
}

:root {
    font-size: $baseFontSize;
}

body {
    font-family: $baseFont;
    font-weight: $regular;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}