$baseFontSize: 1rem;
// Fonts
$baseFont: 'Montserrat', sans-serif;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// Colors
$white: #fff;
$dark: #323232;
$grey: #999;
$accent: #4985ff;
$lightGrey: #E0E0E0;
$black: #000;
$backgroundLigthGrey: #F6F6F8;